{% extends "base.html" %}
{% block conteudo %}
<article>
{%- include "trilha.html" %}
<h1>{{ titulo }}</h1>
{%- if let Some(datas) = datas %}
<p class="datas">Publicado em <time datetime="{{ datas.publicado_iso }}">{{ datas.publicado }}</time>
{%- if datas.mostrar_atualizado %} · Atualizado em <time datetime="{{ datas.atualizado_iso }}">{{ datas.atualizado }}</time>{% endif %}
{%- if let Some(categoria) = categoria %} · Em <a href="{{ categoria.url }}">{{ categoria.rotulo }}</a>{% endif %}</p>
{%- endif %}
{%- if !capa.is_empty() %}
<div class="capa">{{ capa|safe }}</div>
{%- endif %}
{{ corpo|safe }}
{%- if let Some(autor) = autor %}
<aside class="autor" aria-label="Sobre quem escreveu">
{{ autor.foto|safe }}
<div>
<h2><a href="{{ autor.url }}">{{ autor.nome }}</a></h2>
{%- include "autor_detalhes.html" %}
</div>
</aside>
{%- endif %}
</article>
{% endblock %}
